@page
@model ZealandZooEksamen.Pages.KalenderEventModel
@{
    ViewData["Title"] = "Se " + @Model.SeEvent.Navn;
}

<body class="bg-light">
    <div class="container bg-yellow rounded-2" style="margin: auto; width: 50%;">
        <br />
        <p>Navn: <strong>@Model.SeEvent.Navn</strong></p>
        <p>Dato: <strong>@Model.SeEvent.Dato</strong></p>
        <div>
            <p>Information: <strong>@Model.SeEvent.EventInfo</strong></p>
        </div>
        <p>Antal Deltagere: <strong>@Model.Tæler(Model.SeEvent.EventId)</strong></p>
        <p>Maksimum Deltagere: <strong>@Model.SeEvent.MaksDeltagere</strong></p>
        <br />
        <p>Start Tid: <strong>@Model.SeEvent.TimeStart</strong></p>
        <p>Slut Tid: <strong>@Model.SeEvent.TimeEnd</strong></p>
        
        <form>
            <div class="form-group">
                <input type="submit" value="Tilbage" class="btn btn-primary" asp-page="Kalender" />
            </div>
        </form>
        <br />
    </div>
</body>