@page
@model ZealandZooEksamen.Pages.KalenderEventModel
@{
    ViewData["Title"] = "Se " + @Model.SeEvent.Navn;
}

<form>
    <div class="form-group">
        <input type="submit" value="Tilbage" class="btn btn-primary" asp-page="Kalender" />
    </div>
</form>

<div style="margin: auto; width: 50%;">
    <p>Navn: <strong>@Model.SeEvent.Navn</strong></p>
    <p>Dato: <strong>@Model.SeEvent.Dato</strong></p>
    <div>
        <p>Information: <strong>@Model.SeEvent.EventInfo</strong></p>
    </div>
    <p>Antal Deltagere: <strong>@Model.SeEvent.AntalDeltagere</strong></p>
    <p>Maksimum Deltagere: <strong>@Model.SeEvent.MaksDeltagere</strong></p>
    <br />
    <p>Start Tid: <strong>@Model.SeEvent.TimeStart</strong></p>
    <p>Slut Tid: <strong>@Model.SeEvent.TimeEnd</strong></p>
</div>
