@page
@model ZealandZooEksamen.Pages.LagerCRUD.CreateLagerModel
@{
}

@*User story 10 - Bjørn*@
@if (ZealandZooEksamen.Services.UserService.iAmAdmin)
{
<body class="bg-light">
    <div class="row">
        <div class="col-md-6 text-black bg-yellow rounded-2">
            <form method="post" onsubmit="return validateNumbers()">
                <br />
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.OpretLager.LagerId" />
                    @*<label asp-for="@Model.OpretLager.LagerId" class="control-label">LagerId</label><br>
                    <input asp-for="@Model.OpretLager.LagerId" class="form-control" /><br>*@
                </div>

                <div class="form-group">
                    <label>Produkt Navn</label><br>
                    <input asp-for="@Model.OpretLager.LagerNavn" class="form-control" required /><br />
                </div>

            <div class="form-group">
                <label>Antal</label><br>
                <input asp-for="@Model.OpretLager.LagerAntal" class="form-control" required /><br />
            </div>

            <div class="form-group">
                <label>Salgs Pris</label><br>
                <input asp-for="@Model.OpretLager.LagerPris" id="number1" class="form-control" required /><br />
                <span asp-validation-for="@Model.OpretLager.LagerPris" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Indkøbs Pris</label><br>
                <input asp-for="@Model.OpretLager.LagerIndkøbPris" id="number2" class="form-control" required /><br />
                <span asp-validation-for="@Model.OpretLager.LagerPris" class="text-danger"></span>
            </div>

            <script>
                function validateNumbers() {
                    var number1Value = parseFloat(document.getElementById('number1').value);
                    var number2Value = parseFloat(document.getElementById('number2').value);

                    if (number1Value <= number2Value) {
                        alert('Indkøbs pris kan ikke være højere end Salgs pris.');
                        return false;
                    }

                    return true;
                }
            </script>

            <br />
             <div class="form-group">
                <input type="submit" value="Opret Varer" class="btn btn-success" asp-page-handler="Opret" />
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-danger" asp-page="IndexLager">Fortryd</a>
            </div>

        </form>
        
        </div>
    </div>
</body>
}