@page

@*Finder controller*@
@model ZealandZooEksamen.Pages.SalgsCRUD.CreateSalgModel
@{
    //Faneblad
    ViewData["Title"] = "CreateSalg";
}

@*HTML*@
@*Bjørn*@
@if (ZealandZooEksamen.Services.UserService.iAmAdmin)
{
<body class="bg-light">
    <div class="row">
            
            <h3>Nyt Salg</h3>
        <div class="col-md-6 text-black bg-yellow rounded-2">
                
            <form method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.OpretSalg.SalgsId" />
               
                </div>

                <br />
                <div class="form-group">
                        <label> <strong>Produkt Navn</strong></label><br>
                    <p>Skriv navnet som det står i lageret (Se ude til højre-->)</p>
                    <input asp-for="@Model.OpretSalg.SalgsNavn" class="form-control" required /><br />
                </div>

                <div class="form-group">
                        <label><strong>Antal</strong> </label><br>
                    <p>Kun tal mellem 0 og 999</p>
                        <input asp-for="@Model.OpretSalg.SalgsAntal" class="form-control" type="number" min="0" max="999" title="Antal skal være tal mellem 0 og 999" required /><br />
                </div>

                <div class="form-group">
                        <label><strong>Salgs Pris</strong></label><br>
                        <p>Kun tal mellem 0 og 999</p>
                        <input asp-for="@Model.OpretSalg.SalgsPris" class="form-control" type="number" min="0" max="999" title="Salgs Pris skal være tal mellem 0 og 999" required /><br />
                    <span asp-validation-for="@Model.OpretSalg.SalgsPris" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Opret Salg" asp-page-handler="Opret" />
                </div>
                <br />
                <div class="form-group">
                    <a class="btn btn-danger" asp-page="IndexSalg">Fortryd</a>
                </div>
                <br />

            </form>

        </div>

    <div class="col-md-6">
        <h3>Vare Lageret</h3>
                <table class="table table-striped table-hover bg-yellow rounded-2">
                    
                    <thead>
                        <tr>
                            @*<th>Lager Id</th>*@
                            <th>VareNavn</th>
                            <th>Antal Varer</th>
                            <th>Salgspris</th>
                            <th>IndkøbsPris</th>
                        </tr>
                    </thead>
                    <tbody>
                        
    @*hvert element (vare) *@
                @foreach (var vare in Model.Lageret)
                {
                            <tr>

                                @*Felter i tabel*@
                                @*<td>@vare.LagerId</td>*@
                                <td>@vare.LagerNavn</td>
                                <td>@vare.LagerAntal</td>
                                <td>@vare.LagerPris</td>
                                <td>@vare.LagerIndkøbPris</td>
                            </tr>


                }
                    </tbody>
                </table>
    </div>
</body>
}