@page
@model ZealandZooEksamen.Pages.SalgsCRUD.EditSalgModel
@{
}

@*Bjørn*@
@if (ZealandZooEksamen.Services.UserService.iAmAdmin)
{
<body class="bg-light">
    <div class="container border-2 rounded-2">

        <h1>Ændre Varer @Model.SalgsId @Model.SalgsNavn</h1>
        <div class="row">
            <div class="col-md-6 text-black bg-yellow rounded-2">
                <form method="post">
                    <br />
                    <div>
                        <input type="hidden" asp-for="@Model.SalgsId" />

                    </div>


                    <div class="form-group">
                        <label>Lager Navn</label><br>
                        <input asp-for="@Model.SalgsNavn" class="form-control" required /><br />
                    </div>

                    <div class="form-group">
                        <label>Lager Antal</label><br>
                        <input asp-for="@Model.SalgsAntal" class="form-control" required /><br />
                        <span asp-validation-for="@Model.SalgsAntal" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Salgs Pris</label><br>
                        <input asp-for="@Model.SalgsPris" class="form-control" required /><br />
                        <span asp-validation-for="@Model.SalgsPris" class="text-danger"></span>
                    </div>

          



                    <form method="post">
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Ændre @Model.SalgsNavn" asp-page-handler="Edit" asp-route-salgsId="@Model.SalgsId" class="btn btn-dark" />
                        </div>
                        <br />
                        <div class="form-group">
                            <a class="btn btn-danger" asp-page="IndexSalg">Fortryd</a>
                        </div>
                    </form>
                    <br />
                </form>
            </div>
        </div>

    </div>
</body>
}