@page
@model ZealandZooEksamen.Pages.TilmeldingCRUD.TilmeldingIndexModel
@{
}


<h2>Nyhedsbrev (TilmeldingCRUD)</h2>
<a class="btn btn-success" asp-page="TilmeldingCreate">Opret tilmelder</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var Nyhedsbrev in Model.Nyhedsbrevet)
        {
            <tr>


                <td>@Nyhedsbrev.NyhedsbrevId</td>
                <td>@Nyhedsbrev.Navn</td>
                <td>@Nyhedsbrev.Telefon</td>


                <td><a class="btn btn-primary" asp-page="TilmeldingCreate" asp-route-nyhedsbrevId="@Nyhedsbrev.NyhedsbrevId">Tilmeld nyhedsbrev</a></td>


                <td><a class="btn btn-danger" asp-page="TilmeldingIndex" asp-route-nyhedsbrevId="@Nyhedsbrev.NyhedsbrevId">Nyhedsbrev Liste</a></td>
            </tr>


        }
    </tbody>
</table>


