@page
@model ZealandZooEksamen.Pages.TilmeldingCRUD.TilmeldingCreateModel
@{
}
<div class="form-group">
    <input type="hidden" asp-for="@Model.OpretNyhedsbrev.NyhedsbrevId" />
    @*<label asp-for="@Model.OpretLager.LagerId" class="control-label">LagerId</label><br>
    <input asp-for="@Model.OpretLager.LagerId" class="form-control" /><br>*@
</div>



<div class="form-group">
    <label>Navn </label><br>
    <input asp-for="@Model.OpretNyhedsbrev.Navn" class="form-control" required /><br />
</div>

<div class="form-group">
    <label>Telefon Nr.</label><br>
    <input asp-for="@Model.OpretNyhedsbrev.Telefon" class="form-control" required /><br />
</div>
<div class="form-group">
    <input type="submit" value="Tilmeld" class="btm btn-succes" asp-page-handler="Opret" />
</div>