@page
@model ZealandZooEksamen.Pages.EventCRUD.CreateEventModel
@{
}
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.OpretEvent.Navn" class="control-label">Event Navn</label><br>
                <input asp-for="@Model.OpretEvent.Navn" class="form-control" /><br>
            </div>

            <div class="form-group">
                <label>Dato</label><br>
                <input asp-for="@Model.OpretEvent.Dato" class="form-control" /><br />
            </div>

            <div class="form-group">
                <label>Start tid</label><br>
                <input asp-for="@Model.OpretEvent.TimeStart" class="form-control" /><br />
            </div>

            <div class="form-group">
                <label>Slut tid</label><br>
                <input asp-for="@Model.OpretEvent.TimeEnd" class="form-control" /><br />
                <span asp-validation-for="@Model.OpretEvent.TimeEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Maks antal deltagere</label><br>
                <input asp-for="@Model.OpretEvent.MaksDeltagere" class="form-control" /><br />
            </div>

            <div class="form-group">
                <label>Antal deltagere</label><br>
                <input asp-for="@Model.OpretEvent.AntalDeltagere" class="form-control" /><br />
            </div>

            
            <div class="form-group">
                <input type="submit" value="Opret Event" asp-page-handler="Opret" />
            </div>
        </form>
        
    </div>
</div>