@page
@model ZealandZooEksamen.Pages.EventCRUD.DeleteEventModel
@{
}


<div class="row">
    <div class="col-sm-3 text-black bg-light">
        <p>Event Id: @Model.SletEvent.EventId</p>
        <p>Event Navn: @Model.SletEvent.Navn</p>
        <p>Event Dato: @Model.SletEvent.Dato</p>
        <p>Event Info: @Model.SletEvent.EventInfo</p>
        <p>Event Antal Deltagere: @Model.SletEvent.AntalDeltagere</p>
        <p>Event Start Tid: @Model.SletEvent.TimeStart</p>
        <p>Event Slut Tid: @Model.SletEvent.TimeEnd</p>
        <p>Event Maksimum Deltagere: @Model.SletEvent.MaksDeltagere</p>
        
        <p></p>
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Slet @Model.SletEvent.EventId" asp-page-handler="Slet" asp-route-id="@Model.SletEvent.EventId" />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Fortryd" asp-page-handler="Fortryd" />
            </div>
        </form>
    </div>
</div>