@page
@model IndexModel
@{
    ViewData["Title"] = "Zealand Zoo";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@*Bjørn*@

<div class="text-center">
    <h1> Zealand Zoo</h1>
    <img src="~/images/Zealand Zoo.jpg" class="card-img-top w-25" alt="Zealand Zoo Logo">

</div>

<h2>Event Liste</h2>
@*giver kun admin adgang til opret*@
@if (ZealandZooEksamen.Services.UserService.iAmAdmin)
{
<a class="btn btn-success" asp-page="CreateEvent">Opret Event</a>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Event Id</th>
            <th>Navn</th>
            <th>Dato</th>
            <th>Start tid</th>
            <th>Slut tid</th>
            <th>Antal Deltagere</th>
            <th>Maks Antal Deltagere</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var mockEvents in Model.MockEvents)*@
        @foreach (var events in Model.Events)
        {
            <tr>
                @*
            <td>@mockEvents.EventId</td>
            <td>@mockEvents.Navn</td>
            <td>@mockEvents.AntalDeltagere</td>
            <td>@mockEvents.MaksDeltagere</td>
            <td>@mockEvents.Dato</td>
            *@

                <td>@events.EventId</td>
                <td>@events.Navn</td>
                <td>@events.Dato</td>
                <td>@events.TimeStart</td>
                <td>@events.TimeEnd</td>
                <td>@events.AntalDeltagere</td>
                <td>@events.MaksDeltagere</td>

                @*giver kun admin adgang til rediger*@
                @if (ZealandZooEksamen.Services.UserService.iAmAdmin)
                {
                    <td><a class="btn btn-warning" asp-page="EditEvent" asp-route-eventId="@events.EventId">Rediger</a></td>
                }
                @*<td><a class="btn" asp-page="DeleteEvent" asp-route-eventId="@mockEvents.EventId">Slet</a></td>*@

                @*giver kun admin adgang til slet*@
                @if (ZealandZooEksamen.Services.UserService.iAmAdmin)
                {
                    <td><a class="btn btn-danger" asp-page="DeleteEvent" asp-route-eventId="@events.EventId">Slet</a></td>
                }
            </tr>
        }
    </tbody>
</table>
<br />

<div class="row list-group-horizontal">
    @foreach (var e in Model.Events)
    {
        <div class="card column">
            <div class="card-body">
                <h5 class="card-title">@e.Navn</h5>
                <p>@e.EventInfo</p>
                <p><strong>@e.Dato</strong></p>
                <p>Starter <strong>@e.TimeStart</strong></p>
                <p>Slutter <strong>@e.TimeEnd</strong></p>
                <p>Der er <strong>@Model.LedigePladser(e.EventId)</strong> ledige pladser</p>
            </div>
        </div>
    }
</div>
<br />

<h2>Tilmeldte person </h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Telefon nr</th>
            <th>Deltager</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var person in Model.Personer)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.PhoneNumber</td>
                <td>@person.Attending</td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Her finder vi elementerne med class="column"
    var elements = document.getElementsByClassName("column");

    // Her erklære vi en variabel
    var i;

    // Her bliver vores Grid lavet
    function gridView() {
        for (i = 0; i < elements.length; i++) {
        elements[i].style.width = "25%";
        }
    }
</script>