@page
@model ZealandZooEksamen.Pages.AdminModel
@{
}
@if (ZealandZooEksamen.Services.UserService.iAmAdmin){
<h2>Tilmeldte til Nyhedsbrev</h2>
<a class="btn btn-success" asp-page="/TilmeldingCRUD/TilmeldingIndex">Se tilmeldte til nyhedsbrev</a>
 }
 
 </br>
 </br>
 </br>

<body class="bg-light">
    @*giver kun admin adgang til opret*@
    @if (ZealandZooEksamen.Services.UserService.iAmAdmin)
    {
        <a class="btn btn-success" asp-page="/EventCRUD/CreateEvent">Opret Event</a>
        <h6></h6>
    }

    <table class="table table-striped table-hover bg-yellow">
        <thead>
            <tr>
                <th>Event Id</th>
                <th>Navn</th>
                <th>Dato</th>
                <th>Start tid</th>
                <th>Slut tid</th>
                <th>Antal Deltagere</th>
                <th>Maks Antal Deltagere</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var mockEvents in Model.MockEvents)*@
            @foreach (var events in Model.Events)
            {
                <tr>
                    @*
                <td>@mockEvents.EventId</td>
                <td>@mockEvents.Navn</td>
                <td>@mockEvents.AntalDeltagere</td>
                <td>@mockEvents.MaksDeltagere</td>
                <td>@mockEvents.Dato</td>
                *@

                    <td>@events.EventId</td>
                    <td>@events.Navn</td>
                    <td>@events.Dato</td>
                    <td>@events.TimeStart</td>
                    <td>@events.TimeEnd</td>
                    <td>@Model.Tæler(events.EventId)</td>
                    <td>@events.MaksDeltagere</td>

                @*giver kun admin adgang til rediger*@
                @if (ZealandZooEksamen.Services.UserService.iAmAdmin)
                {
                    <td><a class="btn btn-warning" asp-page="EventCRUD/EditEvent" asp-route-eventId="@events.EventId">Rediger</a></td>

                    @*giver kun admin adgang til slet*@
                    <td><a class="btn btn-danger" asp-page="EventCRUD/DeleteEvent" asp-route-eventId="@events.EventId">Slet</a></td>
                }
            </tr>
        }
    </tbody>
</table>
<br />

    <h2>Tilmeldte til Nyhedsbrev</h2>
    <table class="table table-striped table-hover bg-yellow">
        <thead>
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Telefon nr</th>
                <th>Deltager</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var person in Model.Personer)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>@person.PhoneNumber</td>
                    <td>@person.Attending</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="Index"></a>
</body>