@page
@model IndexModel
@{
    ViewData["Title"] = "Zealand Zoo";
}

<div class="text-center">
    <h1> Zealand Zoo</h1>
    <img src="~/images/Zealand Zoo.jpg" class="card-img-top w-25" alt="Zealand Zoo Logo" >

</div>

<h2>Event Liste (Ikke EventCRUD)</h2>
<table>
    <thead>
        <tr>
            <th>Event Id</th>
            <th>Navn</th>
            <th>Antal Deltagere</th>
            <th>Maks Antal Deltagere</th>
            <th>Dato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var events in Model.Events)
        {
            <tr>
                <td>@events.EventId</td>
                <td>@events.Navn</td>
                <td>@events.AntalDeltagere</td>
                <td>@events.MaksDeltagere</td>
                <td>@events.Dato</td>

                <td><a class="btn" asp-page="EventCrud/EditEvent" asp-route-eventId="@events.EventId">Rediger Event</a></td>

                <td><a class="btn" asp-page="EventCRUD/DeleteEvent" asp-route-eventId="@events.EventId">Slet</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn" asp-page="EventCRUD/CreateEvent">Opret Event</a>