@page
@model ZealandZooEksamen.Pages.KalenderModel
@{
    ViewData["Title"] = "Kalender";
}
<p>Event Id: @Model.EventFinder.EventId</p>
<p>Event Navn: @Model.EventFinder.Navn</p>
<p>Event Dato: @Model.EventFinder.Dato</p>
<p>Event Info: @Model.EventFinder.EventInfo</p>
<p>Event Antal Deltagere: @Model.EventFinder.AntalDeltagere</p>
<p>Event Maksimum Deltagere: @Model.EventFinder.MaksDeltagere</p>
<p>Event Start Tid: @Model.EventFinder.TimeStart</p>
<p>Event Slut Tid: @Model.EventFinder.TimeEnd</p>